@import url("ae3254f6d6aa4ea2a1d30908b6fdf681.css");
.dslc-modules-section-wrapper,
.dslca-add-modules-section {
    width: 1170px;
}

.dslc-modules-section {
    background-image: disabled;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    border-width: 0px;
    border-style: solid;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 0%;
    padding-right: 0%;
}

#dslc-content #dslc-module-1 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-1 .heading h2 {}

#dslc-content #dslc-module-1 .heading p {}

#dslc-content #dslc-module-3 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-3 .heading h2 {}

#dslc-content #dslc-module-3 .heading p {}

#dslc-content #dslc-module-4 .ilove_timeline {
    margin-bottom: 0px;
}

#dslc-content #dslc-module-6 .misc-separator {
    margin-bottom: px;
}

#dslc-content #dslc-module-8 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-8 .heading h2 {}

#dslc-content #dslc-module-8 .heading p {}

#dslc-content #dslc-module-11 .dslc-image {
    text-align: center;
    background-color: transparent;
    border-width: 0px;
    border-style: solid solid solid solid;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#dslc-content #dslc-module-11 .dslc-image,
#dslc-content #dslc-module-11 .dslc-image img {
    border-radius: 0px;
}

#dslc-content #dslc-module-11 .dslc-image img {
    width: auto;
}

#dslc-content #dslc-module-11 .dslc-image-caption {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    font-family: Open Sans;
    line-height: 22px;
    margin-top: 20px;
}

    {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
    line-height: 22px;
    margin-top: 20px;
}

#dslc-content #dslc-module-12 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-12 .heading h2 {}

#dslc-content #dslc-module-12 .heading p {}

#dslc-content #dslc-module-33 .spacer {
    height: 75px;
}

#dslc-content #dslc-module-15 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-15 .heading h2 {}

#dslc-content #dslc-module-15 .heading p {}

#dslc-content #dslc-module-20 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-20 .heading h2 {}

#dslc-content #dslc-module-20 .heading p {}

#dslc-content #dslc-module-21 .event {
    background-color: #ef6a8a;
}

#dslc-content #dslc-module-22 .event {
    background-color: #ef6a8a;
}

#dslc-content #dslc-module-23 .event {
    background-color: #ef6a8a;
}

#dslc-content #dslc-module-27 .spacer {
    height: 40px;
}

#dslc-content #dslc-module-24 .event {
    background-color: #ef6a8a;
}

#dslc-content #dslc-module-25 .event {
    background-color: #ef6a8a;
}

#dslc-content #dslc-module-26 .event {
    background-color: #ef6a8a;
}

#dslc-content #dslc-module-28 .misc-separator {
    margin-bottom: px;
}

#dslc-content #dslc-module-29 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-29 .heading h2 {}

#dslc-content #dslc-module-29 .heading p {}

#dslc-content #dslc-module-37 .heading {
    margin-bottom: 0px;
}

#dslc-content #dslc-module-37 .heading h2 {
    color: rgb(255, 255, 255);
}

#dslc-content #dslc-module-37 .heading p {}

#dslc-content #dslc-module-55 .spacer {
    height: 40px;
}

#dslc-content #dslc-module-41 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-41 .heading h2 {}

#dslc-content #dslc-module-41 .heading p {}

#dslc-content #dslc-module-17 .heading {
    margin-bottom: px;
}

#dslc-content #dslc-module-17 .heading h2 {}

#dslc-content #dslc-module-17 .heading p {}

#dslc-content #dslc-module-56 .spacer {
    height: 40px;
}

#dslc-content #dslc-module-54 .twitter_feeds {
    margin-bottom: 0px;
}
.wrap-bg {
    background-color: #ffffff;
}

body {
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
}

nav {
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: Lato;
    line-height: 36px;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

h2 {
    font-family: Lato;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

h3 {
    font-family: Lato;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
}

h4 {
    font-family: Lato;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
}

h5 {
    font-family: Lato;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

h6 {
    font-family: Lato;
    line-height: 16px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.heading h2 {
    font-size: 38px;
}
.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}
